
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    background-image: url('../images/login.webp');
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 85%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header h1 {
    color: #5c5edc;
    font-size: 24px;
}

h2 {
    color: #3426af;
}


section {
    margin-bottom: 30px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
}

.educational-resources ul {
    list-style: none;
    padding: 0;
}

.educational-resources li {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.educational-resources a {
    text-decoration: none;
    color: #5c5edc;
}

.educational-resources a:hover {
    text-decoration: underline;
}

.goal-setting-form label {
    display: block;
    margin-bottom: 5px;
}

.goal-setting-form input[type="text"],
.goal-setting-form input[type="number"],
.goal-setting-form input[type="date"],
.goal-setting-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.goal-setting-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.goal-setting-form button:hover {
    background-color: #45a049;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #eee;
}

tbody tr:hover {
    background-color: #f9f9f9;
}
